*{
    border: 2px solid red;
    font-family: "Montserrat", "sans-serif";
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 30px;

}

.list{
    display: flex;
    gap: 50px;
    list-style: none;
    padding-left: 50px;
    border-left: 5px solid white ;
}

.logo{
    border-right: 5px solid white;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.hero-heading{
    font-size: 50px;
    white-space: pre;
    flex-wrap: wrap;
}